:root {
  --primary-color: #112849;
  --secondary-color: #005EA2;
  --accent-color: #8B0A03;
  --gray-cool-60: #565c65;
  --max-width: 75rem;
  --breakpoint-mobile: 0;
  --breakpoint-tablet: 40rem;
  --breakpoint-desktop: 64rem;
  --breakpoint-desktop-lg: 75rem;
}
