---
const baseUrl = import.meta.env.BASE_URL;
---

<section
  class="usa-banner"
  aria-label="Official website of the United States government"
>
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img
            aria-hidden="true"
            class="usa-banner__header-flag"
            src={`${baseUrl}assets/img/us_flag_small.png`}
            alt=""
          />
        </div>
        <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
          <p class="usa-banner__header-text">
            An official website of the United States government
          </p>
          <p class="usa-banner__header-action">Here's how you know</p>
        </div>
        <button
          type="button"
          class="usa-accordion__button usa-banner__button"
          aria-expanded="false"
          aria-controls="gov-banner-default"
        >
          <span class="usa-banner__button-text">Here's how you know</span>
        </button>
      </div>
    </header>
    <div
      class="usa-banner__content usa-accordion__content"
      id="gov-banner-default"
      hidden
    >
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
            class="usa-banner__icon usa-media-block__img margin-bottom-1"
            src={`${baseUrl}assets/img/icon-dot-gov.svg`}
            role="img"
            alt=""
            aria-hidden="true"
          />
          <div class="usa-media-block__body">
            <p>
              <strong>Official websites use .gov</strong><br />A
              <strong>.gov</strong> website belongs to an official government
              organization in the United States.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img
            class="usa-banner__icon usa-media-block__img margin-bottom-1"
            src={`${baseUrl}assets/img/icon-https.svg`}
            role="img"
            alt=""
            aria-hidden="true"
          />
          <div class="usa-media-block__body">
            <p>
              <strong>Secure .gov websites use HTTPS</strong><br />A
              <strong>lock</strong> (
              <svg
                aria-hidden="true"
                class="usa-icon"
                focusable="false"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 52 64"
              >
                <rect
                  width="52"
                  height="64"
                  fill="#000000"
                  rx="4"
                />
                <path
                  fill="#ffffff"
                  d="M26 0C10.804 0 0 10.804 0 26s10.804 26 26 26 26-10.804 26-26S41.196 0 26 0zm0 48c-12.15 0-22-9.85-22-22s9.85-22 22-22 22 9.85 22 22-9.85 22-22 22z"
                />
                <path
                  fill="#ffffff"
                  d="M26 12c-1.105 0-2 .895-2 2v10c0 1.105.895 2 2 2s2-.895 2-2V14c0-1.105-.895-2-2-2z"
                />
                <path
                  fill="#ffffff"
                  d="M26 36c-1.105 0-2 .895-2 2v4c0 1.105.895 2 2 2s2-.895 2-2v-4c0-1.105-.895-2-2-2z"
                />
              </svg>
              ) or <strong>https://</strong> means you've safely connected to the .gov website. Share sensitive information only on official, secure websites.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

