---
import { navCouncils } from "../data/navCouncils";

const baseUrl = import.meta.env.BASE_URL;
---

<footer class="usa-footer">
  <div class="usa-footer__primary-section">
    <div class="grid-container footer-grid-container padding-y-2">
      <nav class="usa-footer__nav" aria-label="Pre-footer links">
        <h3 class="footer-councils-heading padding-bottom-2">Quick links</h3>
          <ul class="footer-quick-links">
            {navCouncils.map((council) => (
              <li>
                <a href={`${baseUrl}${council.slug}/`} class="footer-quick-link">
                  {council.councilName}
                </a>
              </li>
            ))}
          </ul>
      </nav>
    </div>
  </div>
</footer>
