---
import { Image } from 'astro:assets';
import logoOmb from '../assets/img/logo-omb.png';
const baseUrl = import.meta.env.BASE_URL;
---

<div id="ogp-identifier" class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href={baseUrl} class="usa-identifier__logo">
          <Image
            src={logoOmb}
            alt="Office of Management and Budget Logo"
            class="usa-identifier__logo-img"
            width={200}
            height={200}
          />
        </a>
      </div>
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">Councils.gov</p>
        <p class="usa-identifier__identity-disclaimer">
          An Official website of the Federal Government
        </p>
      </div>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item usa-link--external-white">
          <a href="https://www.whitehouse.gov/omb/" class="usa-identifier__required-link usa-link usa-link--external">
            About OMB
          </a>
        </li>
        <li class="usa-identifier__required-links-item usa-link--external-white">
          <a
            href="https://www.gsa.gov/website-information/accessibility-aids"
            class="usa-identifier__required-link usa-link usa-link--external"
          >
            Accessibility Support
          </a>
        </li>
        <li class="usa-identifier__required-links-item usa-link--external-white">
          <a
            href="https://www.gsa.gov/reference/freedom-of-information-act-foia"
            class="usa-identifier__required-link usa-link usa-link--external"
          >
            FOIA Requests
          </a>
        </li>
        <li class="usa-identifier__required-links-item usa-link--external-white">
          <a
            href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002"
            class="usa-identifier__required-link usa-link usa-link--external"
          >
            No FEAR Act Data
          </a>
        </li>
        <li class="usa-identifier__required-links-item usa-link--external-white">
          <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link usa-link--external">
            Office of the Inspector General
          </a>
        </li>
        <li class="usa-identifier__required-links-item usa-link--external-white">
          <a
            href="https://www.gsa.gov/reference/reports/budget-performance"
            class="usa-identifier__required-link usa-link usa-link--external"
          >
            Performance Reports
          </a>
        </li>
        <li class="usa-identifier__required-links-item usa-link--external-white">
          <a
            href="https://www.gsa.gov/website-information/website-policies"
            class="usa-identifier__required-link usa-link usa-link--external"
          >
            Privacy Policy
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a class="usa-link--external-white" href="https://www.usa.gov/">
        Visit USA.gov
      </a>
    </div>
  </section>
</div>

