---
// USWDS Footer Component
// Based on: https://designsystem.digital.gov/components/footer/
---

<footer class="usa-footer" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="grid-col-12">
          <nav class="usa-footer__nav margin-0 padding-0 margin-x-2 margin-bottom-4" aria-label="Pre-footer links">
            <div class="grid-row grid-gap-4">
              <section class="tablet:grid-col-4 usa-footer__primary-content usa-footer__primary-content--collapsible">
                <h4 class="usa-footer__primary-link">Federal Executive Councils</h4>
                <ul class="usa-list usa-list--unstyled">
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Chief AI Officers Council</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Chief Acquisition Officers Council</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Chief Data Officers Council</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="/coffa/about" class="usa-footer__secondary-link">Chief Financial Officers Council</a>
                  </li>
                </ul>
              </section>
              <section class="tablet:grid-col-4 usa-footer__primary-content usa-footer__primary-content--collapsible">
                <h4 class="usa-footer__primary-link" style="visibility: hidden;">Federal Executive Councils</h4>
                <ul class="usa-list usa-list--unstyled">
                  <li class="usa-footer__secondary-link">
                    <a href="/cioc/about" class="usa-footer__secondary-link">Chief Information Officers Council</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="/coffa/about" class="usa-footer__secondary-link">Council on Federal Financial Assistance</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Evaluation Officer Council</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Made in America Council</a>
                  </li>
                </ul>
              </section>
              <section class="tablet:grid-col-4 usa-footer__primary-content usa-footer__primary-content--collapsible">
                <h4 class="usa-footer__primary-link" style="visibility: hidden;">Federal Executive Councils</h4>
                <ul class="usa-list usa-list--unstyled">
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Federal Real Property Council</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Federal Privacy Council</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Interagency Council on Statistical Policy</a>
                  </li>
                  <li class="usa-footer__secondary-link">
                    <a href="https://gsa.gov" class="usa-footer__secondary-link">Performance Improvement Council</a>
                  </li>
                </ul>
              </section>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>

