---
import USWDSBanner from '../components/USWDSBanner.astro';
import USWDSHeader from '../components/USWDSHeader.astro';
import USWDSFooter from '../components/USWDSFooter.astro';
import USWDSIdentifier from '../components/USWDSIdentifier.astro';
import '@uswds/uswds/css/uswds.css';
import '../styles/variables.css';
import '../styles/fonts.css';
import '../styles/global.scss';

interface Props {
  title?: string;
  currentPage?: string;
}

const { title = "Federal Executive Councils", currentPage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Councils.gov - Official website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
    <link rel="preload" href="/assets/fonts/playfair-display-regular-400.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/inter/inter-regular-400.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
  </head>
  <body>
    <a class="usa-skipnav" href="#main-content">
      Skip to main content
    </a>
    <USWDSBanner />
    <USWDSHeader currentPage={currentPage} />
    <slot />
    <USWDSFooter />
    <USWDSIdentifier />
    <script>
      (function() {
        'use strict';
        
        function initUSWDS() {
          import('@uswds/uswds').then((uswds) => {
            if (uswds.on && typeof uswds.on === 'function') {
              uswds.on(window);
            } else if (uswds.default && typeof uswds.default.on === 'function') {
              uswds.default.on(window);
            }
          }).catch(() => {
            console.warn('USWDS JavaScript could not be loaded');
          });
        }

        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', initUSWDS);
        } else {
          initUSWDS();
        }

        document.addEventListener('astro:after-swap', function() {
          setTimeout(initUSWDS, 0);
        });
        document.addEventListener('astro:page-load', function() {
          setTimeout(initUSWDS, 0);
        });
      })();
    </script>
  </body>
</html>
